[Desktop Entry]
Name=Xtrojka
Comment=An X Window System falling blocks game
Comment[de]=Spiel mit fallenden Steinen
Comment[fr]=Jeu de blocs qui tombent
Comment[pl]=Gra Systemu X Window ze spadającymi klockami
Comment[tr]=Düşen blokları yerleştirme oyunu
Icon=xtrojka
Exec=xtrojka
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
# vi: encoding=utf-8
